*, ::before, ::after {
  box-sizing: border-box;
}

body{
  box-sizing: border-box;
}

#wrap{
  width: 50%;
  min-width: min-content;
  margin: auto;
  background:
      radial-gradient(circle at 50% 0,
        rgba(255,0,0,.5),
        rgba(255,0,0,0) 70.71%),
      radial-gradient(circle at 6.7% 75%,
        rgba(0,0,255,.5),
        rgba(0,0,255,0) 70.71%),
      radial-gradient(circle at 93.3% 75%,
        rgba(0,255,0,.5),
        rgba(0,255,0,0) 70.71%) beige;
  border-radius: 3rem;
  box-shadow: 0px 0px 10px #524f4e;
  padding: 1%;
}

input, button{
  text-decoration: none;
  line-height: 45px;
  border-radius: 45px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  }

input{
  width: 100%;
}

button{
  background: white;
  transition: .3s;
  display: block;
  margin: 2% auto;
  width: 75%;
}

#in:focus{
  border-color: #949494;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(82, 82, 82, 0.25);
}

#in_wrap{
  position: relative;
  margin: 2% auto;
  width: 75%;
}

#in_wrap::after {
  content: '';
  background-image: url("../img/enter.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: opacity(25%);
  aspect-ratio: 1/1;
  height: 50%;
  position: absolute;
  right: 3%;
  top: 25%
}

button:hover:not([disabled]) {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}

button:disabled {
  background: gray;
}

/*убрать стрелочки в input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

input:invalid {
    background-color: rgb(255, 87, 127);
}

h2{
  /*max-width: 900px;*/
  line-height: 45px;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: black;
  font-family: Tahoma, sans-serif;
}